.header-container {
	font-family: montserrat, sans-serif;
	background-color: #f3fcff;
	color:#2b4047;
	display: flex;
	width: match-parent;
	height: 13vh;
	position: sticky;
		top: 0;
		z-index: 100;
	align-items: center;
	margin: 20px;
}

#logo {
	margin: 20px;
	width: 10vh;
	height: auto;
}

header ul{
	align-items: left;
	display: flex;
	flex-direction: row;
}

 header li{
	list-style-type: none;
	padding: 10px;
 }

 header li:hover{
	text-decoration: underline;
 }
